FFFFFF white
97BAC4 dark sky blue
8AA898 morning blue
13203E oxford blue
12130F smoky black

0F060A xiketic
717784 slate gray
4F5D2F dark moss green
D7EC98 yellow green crayola
E6F8B2 key lime

s://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orelega+One&family=PT+Serif&display=swap" rel="stylesheet">
CSS rules to specify families

font-family: 'Orelega One', cursive;
font-family: 'PT Serif', serif;